  <app-main-layout>
    <!-- Module değişikliklerinden sonra navbar'ın da sayfada görüntülenmesi için oluşturduğumuz taslak komponentin içerisinde html oluştrudum.
      Çünkü routing.ts'de my-cart.component'i görüntülüyor yeni bir page oluşturmadım. -->

    <div class="container">
     <table class="table ">
        <thead>
          <tr>

            <th scope="col">Product Name</th>
            <th scope="col">Unit Price</th>
            <th scope="col">QuantityPerUnit</th>
            <th scope="col">UnitsInStock</th>
            <!-- <th scope="col">Quantity</th> -->
            <th scope="col"></th>

          </tr>
        </thead>
        <tbody *ngFor="let cart of cartItems" >
          <tr>
            <td>{{cart.name}}</td>
            <td>{{cart.unitPrice | currency :'₺' :'symbol'}}</td>
            <td>{{cart.quantityPerUnit}}</td>
            <td>{{cart.unitsInStock}}</td>
            <!-- <td>{{cart.quantity}}</td> -->
            <td><button type="button" class="btn btn-danger" (click)="deleteToCart(cart.id)"> Sil </button></td>

          </tr>
      </tbody>
      </table>
      </div>

  </app-main-layout>

