<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Etiya</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--! Angular içerisinde routing yaparken hyperlink reference kullanmak bize yasak. -->
        <li *ngFor="let navItem of navItems" class="nav-item">
            <!-- li'ler için değişen şeyleri navbar.component.ts dosyasında navItems adı altında bi yerde topladım ve burada da tek tek yazmaktansa onları çağırdım.  -->

            <!-- hyperlink (<a>) sayfa yeniden yükleneceği için SPA kullanmamızın bi anlamı kalmıyor. -->
            <!--Angular içinden routing yaparken hyperlink referance kullanmak bize yasak. routerLink kullanacağız.  -->
            <!-- Sadece "/" durumunda aktif olsun /login durumunda olmasın demek için routerLinkActiveOptions kullandık ve bu bir obje istiyor.Gerisi syntax -->
          <a
            class="nav-link"
            routerLink="{{ navItem.routerLink }}"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: navItem.isRouterActiveExact }"
            >
              {{ navItem.label }}
            </a
          >

                <!-- !!!! NOT !!!! -->
                  <!--Ya da aşağıdakilerdeki gibi de yazabiliriz. Aynısı.
                    routerLink = {{navItem.routerLink=""}}
                    [routerLink]="navItem.routerLink"
                  [ routerLink] sytaxi attribute bazında değişken geçmek için  daha pratik.Ardından " " gelmeli.
                <!-- !!!!!!!!!!!!! -->

                <!-- routerLinkActiveOptions 'ı şunun için kullandık;
                  HomePage için verdiğimiz path '/' aynı zamanda LoginPage'in path'inde de olduğundan '/login'
                  ve css dosyasında active class'ına font-weigh:bold özelliğini ekledik.
                  Active olan class'ı değiştirdiğimde yalnızca ilgili class'a active attribute'u eklensin.
                  Sytax olarak routerLinkActiveOptions {exact:boolean} döndürür.  -->
        </li>

        <li>
         <a  *ngIf="isAuthenticated" class="nav-link" (click)="logout()">Logout</a>
        </li>

      </ul>
      <form class="d-flex" role="search">

        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="dropdown pl-2">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-cart-shopping"></i> Sepet ({{ cartLength }})
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let item of cartItems">
            <a class="dropdown-item"
              >{{ item.product.name }} - {{ item.quantity }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
