<app-main-layout>
  <table class="table">
    <thead>
      <tr class="text-center">
        <th scope="col">Id</th>
        <th scope="col" >Name</th>
        <th scope="col">Supplier Id</th>
        <th scope="col">Category Id</th>
        <th scope="col">Quantity Per Unit</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Units In Stock</th>
        <th scope="col">Units On Order</th>
        <th scope="col">Reorder Level</th>
        <th scope="col">Discontinued</th>
        <th scope="col">Update</th>
      </tr>
    </thead>

    <tbody>
      <ng-template ngFor let-product [ngForOf]="products" class="">
        <tr class="text-center">
          <th scope="row">{{product.id}}</th>
          <td>{{product.name}}</td>
          <td>{{product.supplierId}}</td>
          <td>{{product.categoryId}}</td>
          <td>{{product.quantityPerUnit}}</td>
          <td>{{product.unitPrice}}</td>
          <td>{{product.unitsInStock}}</td>
          <td>{{product.unitsOnOrder}}</td>
          <td>{{product.reorderLevel}}</td>
          <td>{{product.discontinued}}</td>
          <td>
            <button (click)="showUpdate(product.id)"
            type="button" class="btn btn-primary"
            >
            Click
          </button></td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</app-main-layout>

